.homeIndicator {
  height: 5px;
  width: 134px;
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray);
}
.homeindicator {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-2xl) var(--padding-xl) var(--padding-5xs)
    var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
}
